// Importations nécessaires
@import "../node_modules/bootstrap/scss/functions"; // Import des fonctions Bootstrap
@import "../node_modules/bootstrap/scss/variables"; // Variables par défaut de Bootstrap
@import "../node_modules/bootstrap/scss/mixins"; // Mixins Bootstrap

// Import des composants que tu souhaites personnaliser
@import "/node_modules/bootstrap/scss/buttons"; // Pour modifier les boutons
@import "/node_modules/bootstrap/scss/modal";

@import "/src/sass/utilities/variables";

$primary: $green-color;
$secondary: $darkgreen-color;

// Style pour les boutons
.container,
.container-fluid,
main {
  .btn-primary {
    background-color: $primary;
    border: none;
    font-size: 12px;
    &:hover {
      background-color: $secondary;
    }
  }

  .btn-secondary {
    background-color: $secondary;
    border: none;
    font-size: 12px;
    &:hover {
      background-color: $primary;
    }
  }
}
