// utilities
@import "/src/sass/utilities/_mixins.scss";
@import "/src/sass/utilities/_variables.scss";

// pages
@import "/src/sass/pages/_accueil.scss";
@import "/src/sass/pages/_bibliotheque.scss";

// components
@import "/src/sass/components/_recherche.scss";
@import "/src/sass/components/header";

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poppins";
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
