// Bootstrap imports
@import "../node_modules/bootstrap/scss/functions"; // Import des fonctions Bootstrap
@import "../node_modules/bootstrap/scss/variables"; // Variables par défaut de Bootstrap
@import "../node_modules/bootstrap/scss/variables-dark"; // Variables pour le thème sombre
@import "../node_modules/bootstrap/scss/maps"; // Maps de couleurs et d'espacements
@import "../node_modules/bootstrap/scss/mixins"; // Mixins Bootstrap
@import "../node_modules/bootstrap/scss/root"; // Styles globaux de Bootstrap

// Optionally, import Bootstrap components as needed
@import "../node_modules/bootstrap/scss/utilities"; // Utilitaires Bootstrap
@import "../node_modules/bootstrap/scss/buttons"; // Si tu veux utiliser des boutons

// Import de tes personnalisations
@import "/src/sass/custom.scss"; // Fichier personnalisé

// utilities
@import "/src/sass/utilities/mixins";
@import "/src/sass/utilities/variables";

// pages
@import "/src/sass/pages/accueil";
@import "/src/sass/pages/bibliotheque";

// components
@import "/src/sass/components/recherche";
@import "/src/sass/components/header";
@import "/src/sass/components/filtres";
@import "/src/sass/components/livres";

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Abril Fatface", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: #ffe4c4;
}

li {
  list-style: none;
}
