.cover {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 65% 70%;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre précisément l'élément */
    width: 80%;
    background-color: rgba(
      $darkbrown-color,
      0.7
    ); /* Fond semi-transparent (noir à 60%) */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement interne pour l'encadré */
    border-radius: 8px; /* Coins arrondis pour l'encadré */
    text-align: center; /* Centrer le texte à l'intérieur */
    z-index: 10;

    h2 {
      font-size: 55px;
    }

    p {
      font-size: 18px;
    }
  }
}

.library {
  background-color: $red-color;
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;

    h2 {
      margin-top: 10px;
      font-size: 60px;
      font-style: 400;
    }
  }

  &__search {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
  }

  &__filter {
    display: flex;
    justify-content: center;
  }

  .toast {
    opacity: 1 !important;
    transition: opacity 0.5s ease;
  }

  .toast.hide {
    opacity: 0 !important;
    transition: opacity 0.5s ease;
  }
}
