.library {
  background-color: #ffe4c4;
  padding: 30px;
  flex-grow: 1;

  &__title {
    display: flex;
    justify-content: center;

    h2 {
      margin-top: 10px;
      font-size: 60px;
      font-style: 400;
    }
  }

  &__search {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__filter {
    display: flex;
    justify-content: center;
  }

  &__personal {
    
  }
}
