.home {
  background-image: url(/src/assets/images/bibliothèque\ fond\ page\ connexion.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    backdrop-filter: blur(4px); /* Applique l'effet de flou */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    height: 50vh;
    width: 80vh;

    &-title {
      color: white;
    }
  }
}
