// VARIABLES 

// Color 

$red-color: #731f0e;
$orange-color:#f39a45;
$yellow-color :#f3dc59;
$green-color :#5d7466;
$darkgreen-color:#122620;
$darkbrown-color :#3b1801;

// Title

$title-font : "Fraunces", sans-serif;