// VARIABLES 

// Color 

$red-color: #731f0e;
$darkbrown-color :#3b1801 ;
$lightbrown-color:#9f6237;
$orange-color:#f39a45;
$lightgreen-color :#c6963f;
$darkgreen-color:#6b6532;

// Title

$title-font : "Fraunces", sans-serif;