.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;

  border-radius: 10px;
  width: 70%;
  max-width: 100%;

  &__title {
    padding: 10px;
    h3 {
      font-size: 25px;
      font-weight: 400;
      color: white;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    button {
      background-color: $green-color;
      &:hover {
        background-color: $darkgreen-color !important;
      }
    }

    label {
      background-color: $green-color;
      &:hover {
        background-color: $darkgreen-color !important;
      }
    }
  }
}
