.header {
  background-color: $red-color;
  padding: 10px;

  &__title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
      font-size:10px ;
      margin: 0;
      text-transform: uppercase;
    }
  }
  &__login {
    display: flex;
    gap: 10px;
  }
}
