// Style barre de recherche
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    color: white;
    font-size: 20px;
  }

  .form-control {
    border-radius: 10px;
    width: 30vw;
  }

  button {
    background: transparent;
    transform: translateY(-5px);
    border: none;

    i {
      font-size: 1.3rem;
      color: #122620;
    }
  }
}

// Style Modale
.modal .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: 80%;
}

.modal-header {
  background-color: #32291e;
  color: white;
}
.modal-body {
  background-color: $green-color;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;

    img {
      width: 100%;
      height: auto;
      max-width: 200px;
    }
  }
}

.modal-content .modal-footer {
  background-color: #32291e;
}
